<div fxLayout="column" fxLayoutGap="2%">
<mat-card class="filter">
  <mat-card-title>Filter evenementen</mat-card-title>
  <mat-form-field>
    <input matInput (keyup)='filterEvenement$.next($event.target.value)' 
      type='text' 
      placeholder='filter evenementnaam'>
  </mat-form-field>  
</mat-card>

<div class="addButton" *ngIf="isUserLogedIn()">
    <button mat-raised-button [routerLink]="['../add-evenement']" ><mat-icon>add</mat-icon></button>
</div>

<div *ngIf="evenementen$ as evenementen; else loadingOrError" >
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="0.5%"
      fxLayoutAlign="center center"
    >
      <div 
        class="evenement"
        *ngFor="let evenement of (evenementen | async | evenementFilter: filterEvenementNaam)"
        fxFlex="0 1 75%"
        fxFlex.xs="100%"
      >
        <app-evenement [evenement]= "evenement"></app-evenement>
      </div>
    </div>
  </div>
  
  <ng-template #loadingOrError>
    <mat-card>
      <mat-error
        data-cy="appError"
        *ngIf="(loadingError$ | async) as errorMessage; else loading"
      >
        Error loading the recipe list: {{ errorMessage }}. <br />Please try
        again later.
      </mat-error>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </mat-card>
  </ng-template>
</div>







