.evenement{
    margin: 10px;
    align-content: center;
    align-items: center;
}

.filter{
    margin: 5px;
    margin-bottom: 0px;
}

.addButton{
    margin: 0 auto;
}

.toolbar-flex {
    flex: 1 0.5 auto;
}