<mat-card>
  <mat-card-title>
    Voeg ranking toe
  </mat-card-title>
  <form [formGroup] = "ranking" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
      aria-label="naam"
      placeholder="Naam"
      type="text"
      formControlName="naam"
      required />

      <mat-error
          *ngIf="ranking.get('naam').errors && ranking.get('naam').touched"
        >
          {{ getErrorMessage(ranking.get('naam').errors) }}
      </mat-error>
    </mat-form-field>
    <br>
    <div
        formArrayName="gebieden"
        *ngFor="let gebied of gebieden.controls; let i = index"
        
      >
        <div [formGroupName]="i" class = "gebied">
          <form [formGroup] = "gebied">
              <mat-card>
                  <mat-label>{{i + 1}}</mat-label>
                  <mat-form-field>
                      <mat-label>Gebied</mat-label>
                      <mat-select  required formControlName = "gebiedId" #newRankingGebiedId >
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let geb of gebiedenSelectList" [value]="geb.id">
                          {{geb.naam}} ({{geb.land}})
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <div *ngIf="(i + 2) === positie && positie <= 10">
                    <mat-card-actions>
                      <button mat-raised-button [disabled]="!gebied.valid" (click)="pushToGebieden(newRankingGebiedId)">+</button>
                   </mat-card-actions>
                  </div>
                    
            </mat-card>
          </form>
          
        </div>
        
        <mat-error *ngIf="_errorMessage !== null">
          {{_errorMessage}}
        </mat-error>
      </div>
      <br>
      
      <button type="submit" [disabled]= "!ranking.valid" mat-raised-button>
          Voeg ranking toe
      </button>
  </form>

</mat-card>