<mat-card>
  <mat-form-field>
    <input matInput placeholder="Naam" type="text" #newEvenementNaam />
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Beschrijving" type="text" #newEvenementBeschrijving />
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerStartdatum" placeholder="Startdatum" #newEvenementStartdatum>
    <mat-datepicker-toggle matSuffix [for]="pickerStartdatum"></mat-datepicker-toggle>
    <mat-datepicker #pickerStartdatum></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="pickerEinddatum" placeholder="Einddatum" #newEvenementEinddatum>
    <mat-datepicker-toggle matSuffix [for]="pickerEinddatum"></mat-datepicker-toggle>
    <mat-datepicker #pickerEinddatum></mat-datepicker>
  </mat-form-field>
  <br>

  <button (click)="addEvenement(newEvenementNaam,newEvenementBeschrijving,newEvenementStartdatum, newEvenementEinddatum)" mat-raised-button>
    Voeg evenement toe
  </button>
</mat-card>
