<header>
  <mat-toolbar color="primary">
    
    <span>
      Snowbreak
    </span>
    <span class="fill-space"></span>
    <span style="align-items: right" *ngIf="(loggedInUser$ | async) as user; else loggedOut"
      >{{ user }}
      <button (click)="logout()" mat-flat-button>
        logout
      </button>
    </span>
    <ng-template #loggedOut>
      <div>
        <a class="buttons" mat-button [routerLink]="['register']">Register</a>
        <a class="buttons" mat-button [routerLink]="['login']">Login</a>
      </div>
    </ng-template>
  </mat-toolbar>
</header>
<body>
    <nav mat-tab-nav-bar class="navElementen mat-elevation-z4">
        
      <a mat-tab-link class="toolbar-flex"
        [routerLink]="['evenement-list']"
      >Evenementen</a>
      <a mat-tab-link class="toolbar-flex"
        [routerLink]="['ranking-list']"
      >Rankings</a>
      <a mat-tab-link  class="toolbar-flex"
        [routerLink]="['gebied-list']"
      >Gebieden</a>
     
    </nav>
    <ng-content></ng-content>
  
</body>

