<mat-card>
  <mat-card-header>
      <mat-card-title>
          {{evenement.naam}}
      </mat-card-title>
      <mat-card-subtitle>{{evenement.beschrijving}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/{{evenement.id}}.jpg">
  <mat-card-content>
      <mat-card-subtitle>Wanneer?</mat-card-subtitle>
      <p>{{evenement.startdatum | date : "dd/MM/yyyy"}} - {{evenement.einddatum | date : "dd/MM/yyyy"}}</p>
      <p>Aantal dagen: {{evenement.nrOfDays}}</p>
      <p>Gebied: {{evenement.gebied.naam}} - {{evenement.gebied.land}}</p>
  </mat-card-content>
</mat-card>
      







