<mat-card>
  <mat-card-header>
      <mat-card-title>
          {{evenement.naam}}
      </mat-card-title>
      <mat-card-subtitle>{{evenement.beschrijving}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/{{evenement.id}}.jpg">
  <mat-card-content>
      <mat-card-subtitle>Wanneer?</mat-card-subtitle>
      <p>{{evenement.startdatum | date : "dd/MM/yyyy"}} - {{evenement.einddatum | date : "dd/MM/yyyy"}}</p>
      <p>Aantal dagen: {{evenement.nrOfDays}}</p>
      <mat-action-list>
        <a mat-raised-button [routerLink]="['gebied-detail',evenement.gebied.id]">Gebied: {{evenement.gebied.naam}} - {{evenement.gebied.land}}</a>
      <a mat-raised-button href="http://www.google.com/calendar/render?action=TEMPLATE&text={{evenement.naam}}&details={{evenement.beschrijving}}&dates={{evenement.startdatum | date: 'yyyyMMdd'}}/{{evenement.einddatum | date: 'yyyyMMdd'}}&location={{evenement.gebied.naam}}"
      target="_blank"
target="_blank" rel="nofollow">Add to my calendar</a>
      <div *ngIf="isUserLoggedIn()">
        <button mat-raised-button [routerLink]="['remove-evenement', evenement.id]">Verwijder</button>
      </div>
      </mat-action-list>
  </mat-card-content>
</mat-card>
      







