<div fxLayoutAlign="center center" class="addGebied">
  <div fxFlex = "0 1 70%">
      <mat-card>
          <mat-card-title>Nieuw gebied</mat-card-title>
          <mat-card-content fxLayout="column">
            <form [formGroup] = "gebied" (ngSubmit) = "onSubmit()">
                <span fxLayout="row" fxLayoutGap="2%">
                <mat-form-field fxFlex="0 1 33%">
                    <input matInput  aria-label="Naam" placeholder="Naam gebied" type="text"  formControlName = "naam" required #newGebiedNaam />
                    <mat-error *ngIf="(gebied).get('naam')['errors'] && gebied.get('naam').touched">
                      {{ getErrorMessage(gebied.get('naam')['errors']) }}
                    </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field fxFlex="0 1 33%">
                    <input matInput aria-label="Land" placeholder="Land" type="text" formControlName = "land" required #newGebiedLand />
                    <mat-error *ngIf="(gebied).get('land')['errors'] && gebied.get('land').touched">
                      {{ getErrorMessage(gebied.get('land')['errors']) }}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex="0 1 33%">
                      <mat-label>Continent</mat-label>
                      <mat-select required formControlName = "continentId" #newContinentId >
                        <mat-option>--</mat-option>
                        <mat-option [value]="0">Noord-Amerika</mat-option>
                        <mat-option [value]="1">Zuid-Amerika</mat-option>
                        <mat-option [value]="2">Europa</mat-option>
                        <mat-option [value]="3">Azië</mat-option>
                        
                      </mat-select>
                      <mat-error *ngIf="(gebied).get('continentId')['errors'] && gebied.get('continentId').touched">
                        {{ getErrorMessage(gebied.get('continentId')['errors']) }}
                      </mat-error>
                    </mat-form-field>
                </span>
                <span fxLayout="row" fxLayoutGap="2%">
                  <mat-form-field fxFlex="0 1 49%">
                    <input matInput aria-label="AantalKmPiste" placeholder="Aantal km piste" type="number" formControlName = "aantalKmPiste" required #newGebiedAantalKmPiste />
                    <mat-error *ngIf="(gebied).get('aantalKmPiste')['errors'] && gebied.get('aantalKmPiste').touched">
                      {{ getErrorMessage(gebied.get('aantalKmPiste')['errors']) }}
                    </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field fxFlex="0 1 49%">
                    <input matInput aria-label="HoogteGebied" placeholder="Hoogte gebied" type="number" formControlName = "hoogteGebied" required #newGebiedHoogteGebied />
                    <mat-error *ngIf="(gebied).get('hoogteGebied')['errors'] && gebied.get('hoogteGebied').touched">
                      {{ getErrorMessage(gebied.get('hoogteGebied')['errors']) }}
                    </mat-error>
                  </mat-form-field>
                  
                </span>
                    <div>
                        <mat-hint>Klik in de kaart om het gebied aan te duiden</mat-hint>
                        <br>
                        <agm-map class = "map" [latitude]="55.676098" [longitude]="12.568337" [zoom]="2" (mapClick)="onMapClicked($event)">
                          <agm-marker [longitude]="long" [latitude]="lat"></agm-marker>
                        </agm-map>
                    </div>
                    <span fxLayout="row" fxLayoutGap="2%">
                    <mat-error *ngIf="gebied.errors && (gebied.get('lengtegraad').touched || gebied.get('breedtegraad').touched)">
                      {{ getErrorMessage(gebied.errors) }}
                    </mat-error>
                  </span>
                    <p>
                        <button type="submit" [disabled]= "!gebied.valid" mat-raised-button>
                            Voeg gebied toe
                        </button>
                    </p>
                    
            </form>
          </mat-card-content>
        </mat-card>
  </div>
</div>


