<div fxLayout="column" fxLayoutGap="2%" *ngIf="(evenementen$ | async) as recipes; else loadingOrError">
  <app-add-evenement (newEvenement)="addEvenement($event)"></app-add-evenement>
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)='filterEvenement$.next($event.target.value)' 
        type='text' 
        placeholder='filter evenementnaam'>
    </mat-form-field>  
  </mat-card>
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="0.5%"
    fxLayoutAlign="start"
  >
    <div 
      class="recipe"
      *ngFor="let evenement of (evenementen$ | async | evenementFilter: filterEvenementNaam)"
      fxFlex="0 0 calc(25%-0.5%)"
      fxFlex.xs="100%"
    >
      <app-evenement [evenement]="evenement"></app-evenement>
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <mat-card>
    <mat-error *ngIf="(loadingError$ | async) as errorMessage; else loading">
     Error loading the recipe list: {{ errorMessage }}. <br/>
      Please try again later.
    </mat-error>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-template> 
