<div *ngIf="(gebied$ | async) as gebied">
  <div class= "container"
  fxLayoutAlign="center center"
  >
      <mat-card fxFlex= "0 1 80%" class = "gebied" >
          <mat-card-header>
            <mat-card-title>{{gebied.naam}}</mat-card-title>
            <mat-card-subtitle>{{gebied.land}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!-- API GOOGLE MAPS komt hier -->
            <agm-map class="map" [longitude]="longitude.valueOf()" [latitude]="latitude.valueOf()">
              <agm-marker [longitude]="longitude.valueOf()" [latitude]="latitude.valueOf()"></agm-marker>
            </agm-map>
            <p>Aantal km piste: {{gebied.aantalKmPiste}}</p>
            <p>Hoogte gebied: {{gebied.hoogteGebied}}</p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button [routerLink]="['../..']"><mat-icon>arrow_back</mat-icon></button>
          </mat-card-actions>
      </mat-card>
    </div>
</div>


