<div fxLayoutAlign="center center">
  <div fxFlex = "0 1 70%"class = "removeCard">
    <mat-card>
        <mat-card-title>Weet u zeker dat u het gebied wilt verwijderen?</mat-card-title>
        <div *ngIf="getErrorMessage() !== null">
          <mat-error>{{getErrorMessage()}}</mat-error>
        </div>
        <mat-action-list div = "centerButtons">
          <button class="matButton" mat-raised-button [routerLink]="['../..']" >Annuleer</button> 
          <button class="matButton" mat-raised-button (click)="onSubmit()">Verwijder</button>
        </mat-action-list>
    </mat-card>
  </div>
</div>
