<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card class="registerScherm">
    <form [formGroup]="user" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <span fxLayout="row" fxLayoutGap="2%">
          <mat-form-field>
            <input
              matInput
              placeholder="Voornaam"
              aria-label="first name"
              data-cy="register-firstname"
              formControlName="firstname"
              required
            />
            <mat-error
              *ngIf="
                user.get('firstname').errors && user.get('firstname').touched
              "
            >
              {{ getErrorMessage(user.get('firstname').errors) }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Naam"
              aria-label="last name"
              data-cy="register-lastname"
              formControlName="lastname"
              required
            />
            <mat-error
              *ngIf="
                user.get('lastname').errors && user.get('lastname').touched
              "
            >
              {{ getErrorMessage(user.get('lastname').errors) }}
            </mat-error>
          </mat-form-field>
        </span>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            aria-label="email"
            data-cy="register-email"
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="user.get('email').errors && user.get('email').touched"
          >
            {{ getErrorMessage(user.get('email').errors) }}
          </mat-error>
        </mat-form-field>
        <span fxLayout="column" formGroupName="passwordGroup">
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Wachtwoord"
              aria-label="password"
              data-cy="register-password"
              formControlName="password"
              required
            />
            <mat-error
              *ngIf="
                user.get('passwordGroup').get('password').errors &&
                user.get('passwordGroup').get('password').touched
              "
            >
              {{
                getErrorMessage(
                  user.get('passwordGroup').get('password').errors
                )
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Bevestig wachtwoord"
              aria-label="confirm password"
              data-cy="register-confirm-password"
              formControlName="confirmPassword"
              required
            />
            <mat-error
              *ngIf="
                user.get('passwordGroup').get('confirmPassword').errors &&
                user.get('passwordGroup').get('confirmPassword').touched
              "
            >
              {{
                getErrorMessage(
                  user.get('passwordGroup').get('confirmPassword').errors
                )
              }}
            </mat-error>
          </mat-form-field>
          <mat-error
            *ngIf="
              user.get('passwordGroup').errors &&
              user.get('passwordGroup').get('confirmPassword').touched &&
              user.get('passwordGroup').get('password').touched
            "
          >
            {{ getErrorMessage(user.get('passwordGroup').errors) }}
          </mat-error>
        </span>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <a [routerLink]="['/login']">Login</a>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          data-cy="register-button"
        >
          Register
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>